
<div class="ui one column page grid">
	<div class="column">
		<div class="ui teal inverted menu">
			{{#link-to 'index' class='item'}}<i class="home icon"></i> Home{{/link-to}}
			{{#link-to 'bulletins' class='item'}}<i class="file icon"></i> Bulletins{{/link-to}}
			{{#link-to 'witnesses' class='item'}}<i class="mail icon"></i> Witnesses{{/link-to}}
			{{#link-to 'calendars' class='item'}}<i class="calendar icon"></i> Calendars{{/link-to}}
			{{#if loggedIn}}
				<div class="right menu">
					<div class="item">
						<i class="user icon"></i> Hello, {{name}}
					</div>
					<a class="item" href="#" {{action "logout"}}>Log out</a>
				</div>
			{{else}}
				<div class="right menu">
					{{#link-to "login" class="item"}}Log in{{/link-to}}
				</div>
			{{/if}}
		</div>
	</div>
</div>

<div class="ui one column page grid">
	<div class="column">
	{{outlet}}
	</div>
</div>
