<h1 class="ui header">Witnesses</h1>

<button class="ui blue button" {{action "newWitness"}}>New Witness</button>

<div class="ui selection link divided list">
  {{#each witness in arrangedContent itemController="witness"}}
    {{view "witness"}}
  {{/each}}
</div>

{{#pdf-modal url=modalURL visible=showingModal close="hideModal"}}{{/pdf-modal}}
