body {
	font-family: 'Myriad Pro';
}

.hidden {
	display: none !important;
}

.slide {
	-webkit-transition: max-height .3s;
	transition: max-height .3s;
	overflow: hidden;
}

.hidden.slide {
	max-height: 0 !important;
}

.inline {
	display: inline-block;
}

.list .item .content .button {
	vertical-align: top;
}

.space-below {
	margin-bottom: 25px;
}

.bulletin .editing.row {
	padding-top: 0;
	margin: 10px 0;
	max-height: 200px;
	cursor: default;
}

.bulletin.item.editing, .bulletin.item.editing:active {
	background-color: rgba(0, 0, 0, .02) !important;
	color: rgba(0, 0, 0, .7);
}

.bulletin.item .unhide.icon {
	line-height: 200%;
}

.ui.buttons .or::before {
	line-height: 1.75;
}

.ui.grid .row .right.column {
	text-align: right;
}
