body {
	font-family: 'myriad-pro', 'helvetica neue', helvetica, arial, sans-serif;
	margin: 0;
	height: auto !important;
}

a {
	color: #009FDA;
	text-decoration: none;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

.narrow {
	max-width: 800px;
	margin: 0 auto;
}

.hidden {
	display: none !important;
}

.slide {
	-webkit-transition: max-height .3s;
	transition: max-height .3s;
	overflow: hidden;
}

.hidden.slide {
	max-height: 0 !important;
}

.inline {
	display: inline-block;
}

.list .item .content .button {
	vertical-align: top;
}

.space-below {
	margin-bottom: 25px;
}

.space-above {
	margin-top: 25px;
}

.bulletin .editing.row {
	padding-top: 0;
	margin: 10px 0;
	cursor: default;
}

.bulletin.item.editing, .bulletin.item.editing:active {
	background-color: rgba(0, 0, 0, .02) !important;
	color: rgba(0, 0, 0, .7);
}

.bulletin.item .unhide.icon {
	line-height: 200%;
}

.ui.buttons .or::before {
	line-height: 1.75;
}

.ui.grid .row .right.column {
	text-align: right;
}

.right .button {
	margin-left: 10px;
	margin-right: 0;
}

.pdf {
	width: 100%;
}

.file-viewer.modal {
	margin-top: 0 !important;
	top: 0;
	height: 100%;
}

.file-viewer.modal .content {
	height: 90%;
}

.file-viewer.modal object {
	height: 100%;
	top: 0;
}

.ui.progress .bar {
	-webkit-transition: width .1s;
	transition: width .1s;
}

.ui.horizontal.label {
	margin-top: 0 !important;
}

#calendar-name {
	width: 300px;
}

.feature-frame {
	background-size: cover;
	margin: 20px;
	padding-top: 65px;
	padding-bottom: 48px;
}

.iphone4.size .feature-frame {
	width: 320px;
	background-image: url('../images/feature-frame-4.png');
}

.iphone5.size .feature-frame {
	width: 320px;
	background-image: url('../images/feature-frame-5.png');
}

.iphone6.size .feature-frame {
	width: 375px;
	background-image: url('../images/feature-frame-6.png');
}

.iphone6plus.size .feature-frame {
	width: 414px;
	background-image: url('../images/feature-frame-6plus.png');
}

.feature-content {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px dashed #aaa;
}

.iphone4.size .feature-content {
	height: 367px;
}

.iphone5.size .feature-content {
	height: 455px;
}

.iphone6.size .feature-content {
	height: 554px;
}

.iphone6plus.size .feature-content {
	height: 623px;
}

.feature-frame.showing-image {
	padding-top: 64px;
}

.feature-frame.showing-image .feature-content {
	border-width: 0;
}

.feature {
	white-space: nowrap;
	overflow-x: auto;
}

.feature .actions {
	position: absolute;
}

.feature .actions > * {
	margin-right: 20px;
}

.feature .active-label {
	display: inline-block;
	vertical-align: top;
	margin-top: 300px;
	text-transform: uppercase;
}

.feature .active-label label {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-weight: bold;
}

.feature h3.ui.header {
	margin-bottom: 5px;
}

.feature h5.ui.header {
	color: #999;
	margin-top: 0;
}

.feature .size {
	text-align: center;
	display: inline-block;
}

/*.feature h3.ui.header {
	font-size: 1.33em;
}
.feature h5.ui.header {
	font-size: 1em;
}
.feature .ui.small.button {
	font-size: .875em;
}
.feature .ui.label {
	font-size:.8125em;
}*/

.feature .devices {
	display: inline-block;
	/*font-size: 1rem;*/
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: ease;
  transition-timing-function: ease;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.feature .devices.little {
	/*font-size: 2rem;*/
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
}

/*.iphone4.size {
	width: 360px;
}*/

.iphone4.size img {
	width: 320px;
	height: 368px;
}

/*.iphone5.size {
	width: 360px;
}*/

.iphone5.size img {
	width: 320px;
	height: 455px;
}

.iphone6.size img {
	width: 375px;
	height: 554px;
}

.iphone6plus.size img {
	width: 414px;
	height: 623px;
}

.feature-frame .size-label {
	text-align: center;
	padding-top: 180px;
	color: #aaa;
}

.feature .progress {
	margin-top: 20px;
	text-align: left;
}
