body {
	font-family: 'myriad-pro', 'helvetica neue', helvetica, arial, sans-serif;
	margin: 0;
	height: auto !important;
}

a {
	color: #009FDA;
	text-decoration: none;
}

code {
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
}

.narrow {
	max-width: 800px;
	margin: 0 auto;
}

.hidden {
	display: none !important;
}

.slide {
	-webkit-transition: max-height .3s;
	transition: max-height .3s;
	overflow: hidden;
}

.hidden.slide {
	max-height: 0 !important;
}

.inline {
	display: inline-block;
}

.list .item .content .button {
	vertical-align: top;
}

.space-below {
	margin-bottom: 25px;
}

.space-above {
	margin-top: 25px;
}

.bulletin .editing.row {
	padding-top: 0;
	margin: 10px 0;
	cursor: default;
}

.bulletin.item.editing, .bulletin.item.editing:active {
	background-color: rgba(0, 0, 0, .02) !important;
	color: rgba(0, 0, 0, .7);
}

.bulletin.item .unhide.icon {
	line-height: 200%;
}

.ui.buttons .or::before {
	line-height: 1.75;
}

.ui.grid .row .right.column {
	text-align: right;
}

.right .button {
	margin-left: 10px;
	margin-right: 0;
}

.pdf {
	width: 100%;
}

.file-viewer.modal {
	margin-top: 0 !important;
	top: 0;
	height: 100%;
}

.file-viewer.modal .content {
	height: 90%;
}

.file-viewer.modal object {
	height: 100%;
	top: 0;
}

.ui.progress .bar {
	-webkit-transition: width .1s;
	transition: width .1s;
}

.ui.horizontal.label {
	margin-top: 0 !important;
}

#calendar-name {
	width: 300px;
}
