<h1 class="ui header">Bulletins</h1>

<button id="new-bulletin" class="ui blue button" {{action "newBulletin"}}>New Bulletin</button>

<div class="ui selection link divided list">
	{{#each bulletin in arrangedContent itemController="bulletin"}}
		{{view "bulletin"}}
	{{/each}}
</div>

{{#pdf-modal url=modalURL visible=showingModal close="hideModal"}}{{/pdf-modal}}
